
header,
nav,
main,
body,
footer {
	max-width: 767px;
	margin: 0 auto;
	color: white;

}

img{  

    width: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
}

header{
    padding-top: 1.25em;
    padding-bottom:1.25em;
    padding-left:10%;
    background: #2eaec1;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
}
h2{
  padding-left:10%;
  background: white;
  color: Black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  align-items: center;
  text-align: left;
}


nav{
  padding-left:15%;
  background: white;
  color: Black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  align-items: center;
  text-align: left;
}

footer a:link{
    color: white;
  }
  footer a:visited{
    color: white;
  }
  footer a:hover{
    color: lightgreen;
  }
footer {
        padding: 1.5em;
        margin-bottom: 20px;
        background: #2eaec1;
        color: white;
        text-align: center;
        font-family: Arial, sans serif;
        font-size: .75em;

  }


  