
img{  
    float: right;
    position: relative;
    right: 10%;
    top: 2em;
    box-shadow: 10px 10px 5px grey;
}

h1{
    padding-top: 1.25em;
    padding-bottom:1.25em;
    padding-left:10%;
    background: #2eaec1;
    color: white;
    font-family: Arial, sans serif;
    font-size: 48px;
    border-radius: 25px;
}
h2{
    margin-left: 10%;
    font-family: Arial, sans serif;
}


nav{
    margin-left: 15%;
    padding-bottom: 3%;
}

footer {
        padding: 1.5em;
        margin-bottom: 20px;
        background: #2eaec1;
        color: white;
        text-align: center;
        border-radius: 25px;
        font-family: Arial, sans serif;

  }