
   
    
    main{
      display: grid;
      grid-template-columns: 1fr;
      padding-left: 5%;
  }
    
    h1{
        padding-top: 1.25em;
        padding-bottom:1.25em;
        padding-left: 7%;
        background: #2eaec1;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 28px;
        border-radius: 25px;
        
    }

    h2{
        color: lightcyan;
        font-family: 'Titillium Web', sans-serif;
        float: right;
        padding-top: 4em;  
        font-size: 14px; 
        padding-right: 5%;
    }

    h3{
        padding: 1em;
        background: #77bf6f;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 24px;
        border-radius: 25px;
        width:300px;
        text-align: center;
    }

    h4{
      padding-left: 7em;
    }

    h5{
        padding-top: 1.25em;
        padding-bottom:1.25em;
        padding-left: 7%;
        padding-right: 7%;
        background: #c5e4e6;
        color: darkslategrey;
        font-family: 'Titillium Web', sans-serif;
        font-size: 14px;
        border-radius: 25px;
        width:300px;
        height: 350px;
    }


.table{
  padding-left: 5%;
}

    body a:link{
        color: grey;
        font-family: sans-serif;
      }
    body a:visited{
        color: grey;
      }
      
    body a:hover{
        color: darkgoldenrod;
     }



footer {
        padding: 1.5em;
        margin-bottom: 20px;
        background: #2eaec1;
        color: white;
        text-align: center;
        font-family: Arial, sans serif;
        font-size: 1em;

  }
  footer a:link{
    color: white;
  }
  footer a:visited{
    color: white;
  }
  footer a:hover{
    color: darkgoldenrod;
  }

  img{
    padding-left: 2em;
  }