

/*lazyLoad*/



body {
	font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
    
}

/* phone or baseline views **************************/
/* phone or baseline views **************************/

header{
    
    margin: 0 auto;
    background-color: #211818;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 30px;
    line-height: .5%;
	
}

footer {
    
	background-color: #211818;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	line-height: .5%;
	font-size: 12pt;
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
	color: white;
}

.contentbox{
	color:#211818;
	font-family: 'Oswald', sans-serif;
	font-size: 16pt;

	
}

nav,
main{
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
}

.headings{
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h1 {
	font-size: 1.75rem;
	font-family: 'Lobster', cursive;
    color: white;
}

h2 {
	font-family: 'Lobster', cursive;
    color: black;
    font-size: 2.5rem;
    text-align: center;
}

h3 {
	font-size: 1rem;
	font-family: 'BenchNine', sans-serif;
    color:#bcac4f;
}

h4 {
	font-family: 'BenchNine', sans-serif;
    color: black;
    font-size: 1.5rem;
	line-height: 2pt;
}



img{

    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: .5rem;
	width: 100%;
	height: auto;
}


.heroImage{	
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	position: relative;

}

.currentWeather{
	position: absolute;
  bottom: auto;
  right: auto;
  left: 2em;
  line-height: 8pt;
  opacity: 0.8;
  padding: .5em;
}

.artImg{
	width: 75%;
}


.active {
	color: yellow;
}
main {
	display: grid;
	grid-template-columns: 1fr;
    font-size: 0.8rem;
}
main div {
	margin: 1rem;
	padding: 1rem;
	background-color: #c9cfd3;
}
main picture {
	margin: 1rem;
}

footer {
	flex: 0 1 100%;
	height: 2rem;
	
}

footer a:link{
  color: white;
}
footer a:visited{
  color:#bcac4f;
}


	
li{
	color: black;
	font-family: 'Oswald', sans-serif;
}

#logo img{
	width: 100px;
	padding: 15px;
}

#icon img{
    width: 50px;
   
}



/* Navigation */

nav {
	background-color:#c14532;
	text-align: center;
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #47aa9d;
	color: #36454f;
}

.currentPage{
	background-color: #bcac4f;
	color: #36454f;
}



nav {
	margin: 0 auto;
    max-width: 760px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">*/
  nav {
	margin: 0 auto;
	max-width: 760px;
	
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
}

.navigation a:hover {
	
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}


/*Sunday message alert*/

div#message{background: #bcac4f;}
div.showme{display:block;}
div.hideme{display:none;}




/* Table styling 5 day forcast*/
table, th, td {
	border:3.5px solid  #bcac4f;
	border-collapse: collapse;
	padding: 5px;
	
}
.forecast{
	display: none;
}

th {
	font-size: 18px;
	background-color: #47aa9d;
	color: white;
	font-family: 'BenchNine', sans-serif;
	
}

td {
	background-color:  white;
	font-size: 13px;
	text-align: center;
}

tr img{
	width: 75%;
}

.contactInfo{
display: grid;
	grid-template-columns: 1fr;
}

.map{
	display: none;
}

/*Gallery*/


.container {margin: 1rem auto; display:grid; grid-template-columns: 1fr;}

figure img { width: 100%; height: auto; margin: .5rem;}
figcaption {font-size: smaller; text-align: center; display:none;}

/* Gallery - hover effect */
.norm:hover {box-shadow: 0 0 50px #333;}


/*ACME Table*/


table#table-acme, th, td {
	border:3.5px solid  black;
	border-collapse: collapse;
	padding: 5px;}

table#table-acme th {
	font-size: 18px;
	background-color: #7fb9c2;
	color: black;
	font-family: 'Ubuntu', sans-serif;}


table#table-acme tr:nth-child(even){
	background:#e7f0ed;
}

table#table-acme tr:nth-child(odd){
	background:#e7ffed;
}
