@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #211818;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	line-height: .5%;
	font-size: 12pt;
	font-family: 'Oswald', sans-serif;
}


header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
	color: white;
	font-family: 'Oswald', sans-serif;

}


h1 {
	font-size: 2rem;
	font-family: 'Lobster', cursive;
	color: white;
}

h2 {
	font-family: 'Lobster', cursive;
	color: black;
}

h3 {
	font-size: 3.25rem;
	font-family: 'Lobster', cursive;
	color: white;
	margin-top: 25px;
}

h4{
	color:black;
	font-family: 'Oswald', sans-serif;
}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: .5rem;
	padding: 1em;
	width: 100%;
}



nav {
	background-color:#c14532;
	text-align: center;
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #47aa9d;
	color: #36454f;
}
.active {
	color: yellow;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 1rem;
	padding: 0 1rem;
	background-color: #c9cfd3;
}
main picture {
	margin: 1rem;
}

footer {
	flex: 0 1 100%;
	height: 2rem;
	
}

footer a:link{
  color: white;
}
footer a:visited{
  color:#bcac4f;
}

#logo{
	width: 25%;
}
	

